.header {
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: rgba(233, 231, 232, 0.9);
  padding: 0 40px;
  z-index: 2999990;
  @include vp-768 {
    padding: 0 20px;
  }
  &__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      font-family: var(--font-accent);
      a {
        color: #2b2b2a;
        font-size: 24px;
        font-weight: 400;
        @include vp-768 {
          font-size: 18px;
        }
      }
    }
  }
  &__nav {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
      li {
        a {
          color: #2b2b2a;
          font-weight: 500;
          font-size: 16px;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #2b2b2a;
            bottom: 5px;
            left: 0;
            opacity: 0;
            transition: all var(--time);
          }
          @include hover {
            &::before {
              bottom: -2px;
              opacity: 1;
            }
          }
        }
      }
    }
    @include vp-1024 {
      display: none;
    }
  }
  &__links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }
  .burger {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
    span {
      transition: all 0.2s ease-in-out;
      background-color: #d3302a;
      width: 28px;
      height: 3px;
      &:nth-child(2) {
        width: 22.4px;
      }
    }
    @include vp-1024 {
      display: flex;
    }
    &.opened {
      span {
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(1) {
          rotate: 45deg;
          position: relative;
          translate: 0 3px;
        }
        &:nth-child(3) {
          position: relative;
          translate: 0 -3px;
          rotate: -45deg;
        }
      }
    }
  }
}
.burger__menu {
  position: absolute;
  background-color: rgba(233, 231, 232, 0.9);
  width: 100%;
  height: auto;
  display: flex;
  left: 0;
  top: 70px;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  padding-bottom: 30px;
  transform-origin: top center;
  transition: all 0.2s ease-in-out;
  &.hide {
    opacity: 0;
    transform: scale(0);
  }
  .header__nav {
    display: block;
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;
    }
  }
}
